from datetime import date

# 默认知识库
DEFAULT_KNOWLEDGE_BASE_NAME = "常用知识库"

# 知识库匹配 Salt
SALT = ""

# streamlit analysis 设置
ANALYTICS_PATH = ""

# 管理员页面认证设置
JWT_SECRET = ""

# admin 数据库文件存储位置
ADMIN_DB = os.path.join(os.path.dirname(os.path.dirname(__file__)), "admin_db.json")

# 默认的欢迎语句
DEFAULT_WELCOME_MESSAGE = "欢迎使用交大智讯，一个用于回答校园相关问题的大语言模型。"

# 学期开始/结束时间
# ("学期名称", "开始时间", "结束时间")
SEMESTER_INFO = [
    ("秋季学期", date(2023, 9, 11), date(2024, 1, 14)),
    ("秋季学期", date(2024, 2, 19), date(2024, 6, 23)),
    ("夏季学期", date(2024, 6, 24), date(2024, 7, 21)),
]

# 自定义的 prompt
DEFAULT_COMMAND = """你是一个用于回答上海交通大学校园相关问题的大语言模型，名字是交大智讯，需要通过给定的资料回答学生们提出的问题。你需要尽可能地提供最新的信息，现在是<study_year_info><semester_info>，今天的日期是<date>。如果无法从中得到答案，请说 “根据已知信息无法回答该问题”，不允许在答案中添加编造成分，答案请使用中文。
"""

DEFAULT_PROMPT_TEMPLATE = """<指令><command></指令>
<已知信息>{{ context }}</已知信息>

<问题>{{ question }}</问题>"""

PROMPT = DEFAULT_PROMPT_TEMPLATE.replace("<command>", DEFAULT_COMMAND)

# 免责声明
DEFAULT_DISCLAIMER_TEXT = """\
交大智讯的语言生成模型主要依赖于公开文件和数据进行训练，内容来自学校文件、互联网资源等。虽然我们尽力确保这些文件的高可信度，但由于信息的海量性、变化性以及处理模型的复杂性，我们不能保证所有生成的内容的真实性、准确性或完整性。

交大智讯可能会生成误导性的信息、包含错误的信息或缺乏关键信息。任何使用该语言模型生成的信息都应在合适的情况下，得到相关机构人员或专业人士的独立核实和指导。用户对依赖此类信息所产生的后果需自行负责。

请注意，交大智讯并未被设计为并且无法用于生成或提供专业意见或建议，包括但不限于法律、医疗、税收、投资等方面的建议。用户如需获取相关领域的专业意见或建议，应寻求相关领域的专业人士的帮助。

此外，交大智讯不具备知识产权检测功能，可能会生成与已存在的知识库相似的内容，但这并非其设计目标或预期用途。我们呼吁并鼓励所有用户尊重并遵守知识产权法规，并对因违反相关法规所产生的后果自行负责。

任何使用交大智讯的行为，都应遵循相关法规以及适当的道德和道德规范。开发者及其关联组织对因使用交大智讯产生的任何直接或间接损害概不负责。

使用交大智讯即代表您同意并接受以上免责声明中的所有条件和条款。
"""

# 在知识库中没有找到文档时的默认回答
DEFAULT_REPLY_WHEN_NO_DOCS = "根据已知信息无法回答该问题。"