# 默认知识库
DEFAULT_KNOWLEDGE_BASE_NAME = "常用知识库"

# 知识库匹配 Salt
SALT = ""

# streamlit analysis 设置
ANALYTICS_PATH = ""

# 管理员页面认证设置
JWT_SECRET = ""
AUTH_PASSWORD = ""

# 知识库文件下载 API Base URL
KB_DOWNLOAD_BASE_URL = ""